.test {
    background-color: red !important;
}

.bo {
    border: 1px solid black;
}

.cell {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-align: center;
    line-height: 2;
    text-align: center;
    background-color: #a2d9a0;
}

.obstacle {
    background-color: grey;
}

.route {
    background-color: orange;
}

.game-log {
    height: 20rem;
    max-height: 20rem;
    border: 1px solid grey;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-stationary {
    background-image: url("../media/gifs/man-stationary.gif");
    background-position: center;
}

.user-move-right {
    background-image: url("../media/gifs/man-move-right.gif");
    background-position: center;
}

.user-move-left {
    background-image: url("../media/gifs/man-move-left.gif");
    background-position: center;
}

.user-move-down {
    background-image: url("../media/gifs/man-move-down.gif");
    background-position: center;
}

.user-move-up {
    background-image: url("../media/gifs/man-move-up.gif");
    background-position: center;
}

.enemy-stationary {
    background-image: url("../media/gifs/enemy-stationary.gif");
    background-position: center;
}

.enemy-move-right {
    background-image: url("../media/gifs/enemy-move-right.gif");
    background-position: center;
}

.enemy-move-left {
    background-image: url("../media/gifs/enemy-move-left.gif");
    background-position: center;
}

.enemy-move-down {
    background-image: url("../media/gifs/enemy-move-down.gif");
    background-position: center;
}

.enemy-move-up {
    background-image: url("../media/gifs/enemy-move-up.gif");
    background-position: center;
}

.end-game.modal-header {
    color: whitesmoke
}

.end-game.modal-title {}

.end-game.modal-body {}

.end-game.modal-footer {}

.score-container {
    background-color: #5BC0EB;
    border: 7.5px solid #FDE74C;
    color: #404E4D;
    font-weight: bolder;
    border-radius: 3px;
    width: 20%;
    margin: auto;
    font-size: 1.25rem;

}