@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-image: url('../media/pngs/yoal-desurmont-jqgsM3B9Fpo-unsplash.jpg');
}

body {
    background-color: transparent !important;
    font-family: 'Press Start 2P', cursive !important;
}

.test {
    background-color: red !important;
}

.bo {
    border: 1px solid #939492;
}

.cell {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-align: center;
    background-color: #a2d9a0;
    background-image: url("../media/pngs/grass.png");
    background-position: center;
    background-size: cover;
}

.cheese {
    background-image: url("../media/gifs/star.gif");
    background-position: center;
    background-size: cover;
}

.obstacle {
    background-color: grey;
}

.route {
    background-color: orange;
}

.game-log {
    height: 10rem;
    max-height: 10rem;
    width: 75%;
    border: 1px solid grey;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-stationary {
    background-image: url("../media/gifs/man-stationary.gif");
    background-position: center;
}

.user-move-right {
    background-image: url("../media/gifs/man-move-right.gif");
    background-position: center;
}

.user-move-left {
    background-image: url("../media/gifs/man-move-left.gif");
    background-position: center;
}

.user-move-down {
    background-image: url("../media/gifs/man-move-down.gif");
    background-position: center;
}

.user-move-up {
    background-image: url("../media/gifs/man-move-up.gif");
    background-position: center;
}

.enemy-stationary {
    background-image: url("../media/gifs/enemy-stationary.gif");
    background-position: center;
}

.enemy-move-right {
    background-image: url("../media/gifs/enemy-move-right.gif");
    background-position: center;
}

.enemy-move-left {
    background-image: url("../media/gifs/enemy-move-left.gif");
    background-position: center;
}

.enemy-move-down {
    background-image: url("../media/gifs/enemy-move-down.gif");
    background-position: center;
}

.enemy-move-up {
    background-image: url("../media/gifs/enemy-move-up.gif");
    background-position: center;
}

.end-game.modal-header {
    color: whitesmoke
}

.score-container {
    background-color: #5BC0EB;
    border: 7.5px solid #FDE74C;
    color: #404E4D;
    font-weight: bolder;
    border-radius: 3px;
    margin: auto;
    font-size: 1.25rem;
}

.text-bright {
    color: #f7f7f7;
}

.rock-1 {
    background-image: url("../media/pngs/rock-1.png");
}

.rock-2 {
    background-image: url("../media/pngs/rock-2.png");
}

.rock-3 {
    background-image: url("../media/pngs/rock-3.png");
}

.rock-4 {
    background-image: url("../media/pngs/rock-4.png");
}

.game-container {
    margin-top: 2.5rem;
}

.game-board {
    background-color: #a4d188;
    border: .5rem solid #333333;
    border-radius: 10px;
}

.game-board-row {
    display: flex !important;
}

.gold {
    color: #FFD700;
}

.leaderboard-header {
    background: rgb(61, 84, 103);
    border: .25rem solid #333333;
    color: #F1EDEE;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.leaderboard-row {
    background: rgb(138, 162, 158);
    background: radial-gradient(circle, rgba(138, 162, 158, 1) 44%, rgba(61, 84, 103, 0.8323704481792717) 87%);
    border-color: #2D4739;
    color: #F1EDEE;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.base-gradient-style {
    background: rgb(138, 162, 158);
    background: radial-gradient(circle, rgba(138, 162, 158, 1) 44%, rgba(61, 84, 103, 0.8323704481792717) 87%);
    border-color: #2D4739;
    color: #F1EDEE;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.leaderboard-row:hover {
    opacity: 0.6;
}

.leaderboard-row-detail {
    background: rgb(138, 162, 158);
    background: radial-gradient(circle, rgba(138, 162, 158, 1) 44%, rgba(61, 84, 103, 0.8323704481792717) 87%);
    border-color: #2D4739;
    color: #F1EDEE;
    text-transform: uppercase;
    font-size: 1.25rem;
}


.star {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}

.cell-small {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid black;
    background-color: #a4d188;
    color: black;
    font-size: .5rem;
    text-align: center;
    font-weight: 600;
}

.cell-small-filled {
    background-color: palevioletred;
}

.level-map-table {
    margin-left: auto;
}