<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: base"></div>

<body>

<div class="mt-4 game-container row">
    <div class="col-7">
        <div class="game-board-row" th:each="row : ${gameBoard.gameBoardRows}">
            <div th:each="cell : ${row}" th:attr="data-x=${cell.coordinates.y}, data-y=${cell.coordinates.x}"
                 class="bo cell"></div>
        </div>
    </div>

    <div class="col-5">
        <div class="w-100 d-flex flex-column align-items-center">
            <h3 id="test" class="text-bright">Timer</h3>
            <h2></h2>
            <div id="timer" class="text-bright"></div>

            <div class="mt-4">
                <div class="d-flex flex-column align-items-center">
                    <h3 class="text-bright">Score</h3>
                    <div class="w-100 score-container text-center">
                        <span id="game-score" class="text-bright">0</span>
                    </div>
                </div>
            </div>

            <div class="mt-4 d-flex flex-column align-items-center">
                <h4 class="text-center text-bright">Game Log</h4>
                <div class="game-log">
                    <ul class="list-group" id="messages">
                    </ul>
                </div>
                <div class="mt-2">
                    <a th:href="@{/leaderboards}" class="btn btn-primary">View Leaderboards</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="endGameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="endGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="end-game modal-header bg-gradient" id="container-modal-header">
                <h5 class="end-game modal-title" id="endGameModalTitle"></h5>
            </div>
            <div class="end-game modal-body">

                <div class="d-none" id="successMessage">
                    <div class="text-center">
                        YOUR FINAL SCORE:
                        <span id="scoreBox"></span>
                    </div>

                    <div class="row align-items-center justify-content-center">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="text-center" id="endGameModalBodySaveScorePrompt">
                            </div>
                            <div class="mt-4">
                                <input type="text" class="form-control" placeholder="Enter Username"
                                       aria-label="Username"
                                       id="postUsername">
                            </div>
                            <div class="mt-4">
                                <button id="postScore" type="button" class="btn btn-success">Save Score!</button>
                            </div>
                            <div id="errorScore"
                                 class="badge d-none rounded-pill text-bg-danger mt-3">Please enter your username!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none" id="failureMessage">
                    Unlucky! How about you try again....
                </div>

            </div>
            <div class="end-game modal-footer">
                <a th:href="@{/}" type="button" class="btn btn-secondary">Main Menu</a>
                <button onClick="window.location.reload();" type="button" class="btn btn-primary">Play
                    Again!
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/post-load-js.html :: bootstrap"></div>

<script th:inline="javascript">
    const ROWS = /*[[${gameBoard.totalRows}]]*/ 5;
    const COLS = /*[[${gameBoard.totalColumns}]]*/ 5;
    const GAME_SETUP = /*[[${gameSetup}]]*/ {};
</script>

<script type="module" th:src="@{game/js/game.js}"></script>

</body>

</html>