<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />

	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{css/base.css}">

	<!-- jQuery -->
	<script th:src="@{js/jquery-3.6.0.min.js}"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


	<title>Chase Game</title>
</head>

<body>



	<div class="row">
		<div class="col s8">
			<div th:each="row : ${gameBoard.gameBoardRows}">
				<div th:each="cell : ${row}" th:attr="data-x=${cell.coordinates.y}, data-y=${cell.coordinates.x}"
					class="bo cell"></div>
			</div>
		</div>
		<div class="col s4">
			<h3>Game Log</h3>
			<div class="game-log">
				<ul class="collection" id="messages">
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h3>Timer</h3>
			<div id="timer"></div>
		</div>
	</div>


	<script th:inline="javascript">
		const ROWS = /*[[${gameBoard.totalRows}]]*/ 5;
		const COLS = /*[[${gameBoard.totalColumns}]]*/ 5;
	</script>

	<script type="module" th:src="@{game/js/game.js}"></script>

</body>

</html>