<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: base"></div>


<body>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Chase Game</h1>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <a class="waves-effect waves-light btn" th:href="@{/game}">Start Game</a>
                </div>
                <div class="col s6 center-align">
                    <a class="waves-effect waves-light btn" th:href="@{/setup}">Setup</a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/post-load-js.html :: bootstrap"></div>
</body>

</html>