{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- game board -->
{% for row in rows %}
<div>
    {% for col in cols %}
    <div class="bo cell" data-y="{{row}}" data-x="{{col}}"></div>
    {% endfor %}
</div>
{{ rows_total|json_script:'game-board-rows' }}
{{ cols_total|json_script:'game-board-cols' }}
{% endfor %}

{% endblock %}

<!-- game logic -->
{% block postload_js %}
{{ block.super }}
<script type="module" src="{% static 'game/js/game.mjs' %}"></script>
{% endblock %}